body{
    background-color: beige;
}
div.box{
    background-color: white;
    color: black;
    width: 500px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}
@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

img{
    width: 50px;
    animation: loading 2s linear infinite;
    background-color: transparent;
}
figure{
    display: flex;
    margin: 5px;
}