body{
    background-color: grey;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}
div.box-loading{
    color: black;
    background-color: white;
    width: 500px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}
@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes colorchange{
    0%{
        background-color: red;
    }
    25%{
        background-color: yellow;   
    }
    50%{
        background-color: green;
    }
    75%{
        background-color: blue;
    }
    100%{
        background-color: red;
    }
}

div.box-colorchange{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: white;
    width: 500px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

div.colorchange{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;
    animation: colorchange 4s linear infinite;
}

img{
    width: 50px;
    animation: loading 2s linear infinite;
}
