* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('bilder_web_app/background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

main{
    background-color: rgb(5, 71, 138, 0.85);
    position: relative;
    top:30%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    min-width: 540px;
    max-width: 50%;
    margin: auto;
    padding: 2em;
}

h1{
    margin-bottom: 20px;
}

#search{
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 70%;
    height: 42px;
}

#submit{
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;
}

#app-wrapper{
    display:flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
}

#search-box{
    display:flex;
    width: 50%;
}

